<html>
<head>
	<title>Hackenbush Generator</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<input type="text" id="string"/> <button id="button">Generate</button>
	<textarea></textarea>

	<script type="text/javascript">
		$("#button").click(doclick);

		function doclick() {
			var game = JSON.parse($("#string").val());
			console.log(game);

			var image = "";
			for(var i=0; i<game.length; i++) {
				image = image + "\\node[fill=none] ("+i+",0) at ("+i+",0) {};\n";
				for(var j=1; j<game[i]+1; j++) {
					image = image + "\\node ("+i+","+j+") at ("+i+","+j+") {};\n";
					image = image + "\\path ("+i+","+(j-1)+") edge ("+i+","+j+");\n"
				}
			}

			var string =
			"\\begin{center} \n \\begin{tikzpicture}[every node/.style={fill=black, shape=circle}] \n" +image+ "\n \\end{tikzpicture} \n \\end{center}";

			console.log(string);
		}

	</script>
</body>
</html>